.simplebar-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.btn-primary {
    color: white;
}

.btn-primary:hover {
    color: white;
}

.btn-danger {
    color: white;
}

.btn-danger:hover {
    color: white;
}