<!DOCTYPE html>
<html lang="de">

{{> head}}

<body>
    <img style="pointer-events: none; position: fixed; top: 0; width: 100%; height: 100%; z-index: 0; object-fit: cover"
        alt="Background" src="/images/background.png" class="">

    {{{body}}}
</body>

</html>